{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Platform.Finance API",
    "description": "API Platform Finance ?@54AB02;O5B A>1>9 =01>@ <5B>4>2 251 A5@28A0 A 8=B5@D59A>< AB8;O REST. 2B>@870F8O 2 251 A5@28A >ACI5AB2;O5BAO <5B>4>< `Basic access authentication` ?@>B>:>;0 HTTP (;>38= 8 ?0@>;L ?5@540NBAO 2 A>>B25BAB2CNI5< 703>;>2:5 70?@>A0). 1O70B5;L=K5 8 4>?>;=8B5;L=K5 2E>4=K5 ?0@0<5B@K 70?@>A>2 ?5@540NBAO 2 04@5A=>9 AB@>:5.\r\n\r\n\r\n@8 2K7>25 <5B>4>2 4>;6=K ?5@54020BLAO 703>;>2:8 `Content-Type` 8 `Accept`. =0G5=8O `application/xml` 8;8 `application/json`. \r\n\r\n@8 =5>1E>48<>AB8 ?5@540G8 7=0G5=89 703>;>2:>2, >B;8G=KE >B 2KH5?@82545==KE, A>>B25BAB2CNI0O 8=D>@<0F8O ?@82>48BAO 2 >?8A0=88 <5B>40 API."
  },
  "host": "platform.finance",
  "basePath": "/api/External",
  "securityDefinitions": {
    "auth": {
      "type": "basic",
      "x-testValue": [],
      "x-skip-client-authentication": false
    }
  },
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/list/fundStructureTypes": {
      "get": {
        "description": "### >;CG5=85 40==KE A?@02>G=8:0\n\n1O70B5;L=K5 2E>4=K5 ?0@0<5B@K: `listName` - =0720=85 A?@02>G=8:0. \n\n#### >ABC?=K5 7=0G5=8O:\n`fundTypes` - B8?K $.\n\n`fundStructureTypes` - B8?K 0:B82>2, 2E>4OI8E 2 AB@C:BC@C $.",
        "summary": "api/External/list/{listName}",
        "tags": [
          "!?@02>G=8:8"
        ],
        "operationId": "ListFundStructureTypesGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/~1list~1fundtypes"
            },
            "examples": {
              "application/json": {
                "listItem": [
                  {
                    "code": 1,
                    "name": "$",
                    "shortName": ">B:@KBK9"
                  },
                  {
                    "code": 2,
                    "name": "$",
                    "shortName": "8=B5@20;L=K9"
                  },
                  {
                    "code": 3,
                    "name": "$",
                    "shortName": "70:@KBK9"
                  }
                ]
              }
            }
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [
          {
            "request": {
              "method": "GET",
              "uri": "/list/fundStructureTypes",
              "headers": {
                "Accept": "application/json"
              }
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "RAW",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "Access-Control-Allow-Credentials": "true",
                "Access-Control-Allow-Headers": "Authorization",
                "Access-Control-Allow-Methods": "GET, OPTIONS",
                "Connection": "keep-alive",
                "Content-Length": "202",
                "Content-Type": "application/json",
                "Date": "Wed, 25 Apr 2018 14:36:18 GMT",
                "Server": "nginx/1.10.3 (Ubuntu)"
              },
              "body": "{\"listItem\":[{\"code\":1,\"name\":\"$\",\"shortName\":\">B:@KBK9\"},{\"code\":2,\"name\":\"$\",\"shortName\":\"8=B5@20;L=K9\"},{\"code\":3,\"name\":\"$\",\"shortName\":\"70:@KBK9\"}]}"
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "api/External/list/{listName}",
            "x-testDescription": "### >;CG5=85 40==KE A?@02>G=8:0\n\n1O70B5;L=K5 2E>4=K5 ?0@0<5B@K: `listName` - =0720=85 A?@02>G=8:0. \n\n#### >ABC?=K5 7=0G5=8O:\n`fundTypes` - B8?K $.\n\n`fundStructureTypes` - B8?K 0:B82>2, 2E>4OI8E 2 AB@C:BC@C $."
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/funds": {
      "get": {
        "description": "### >;CG5=85 @55AB@0 $\n5B>4 2>72@0I05B <0AA82 4>ABC?=KE : ?@>4065 $.\n\n#### =D>@<0F8>==K5 ?>;O >B25B0\n| 0@0<5B@ | B8? |?8A0=85|\n| --------- | ----------- | -----------|\n| updateDate | `date`  | 0B0 >1=>2;5=8O $|\n| prtId | `int` | >4 >@30=870F88|\n| name | `string`  | >;=>5 =08<5=>20=85 $ | \n| shortName | `string`  | @0B:>5 =08<5=>20=85 $ | \n| type | `int` |"8? $.|\n| pageName | `string`  |4@5A 4;O AB@0=8FK $|\n| buyOnlineURL | `string`  | 4@5A 4;O :=>?:8 «C?8BL»|\n| dataDate | `date`  | 0B0 0:BC0;L=>3> (?>A;54=53>) ?>:070B5;O.|\n| navOne | `int` |!B>8<>ABL >4=>3> ?0O.|\n| navAll | `int` | 07<5@ !'.|\n| period | `int` |5@8>4 2 <5AOF0E, 70 :>B>@K9 @0AAG8B0=0 4>E>4=>ABL|\n| incomeOne | `int`| >E>4=>ABL 70 ?5@8>4 ?> AB>8<>AB8 >4=>3> ?0O|\n| navOnePrev | `int`| =0G5=85 AB>8<>AB8 ?0O, ?@54H5AB2CNI55 0:BC0;L=><C 7=0G5=8N ?>:070B5;O.|\n| navAllPrev | `int`| =0G5=85 @07<5@0 !', ?@54H5AB2CNI55 0:BC0;L=><C 7=0G5=8N ?>:070B5;O.|\n| dailyIncomeOne | `int`| =0G5=85 @0AG5B=>9 4>E>4=>AB8 ?> AB>8<>AB8 ?0O |\n| minInvestSum | `int`| 8=8<0;L=0O AC<<0 ?>2B>@=>9 8=25AB8F88|\n| minReInvestSum | `int` |8=8<0;L=0O AC<<0 ?>2B>@=>9 8=25AB8F88|\n| companyShortName | `string`| @0B:>5 =08<5=>20=85 C?@02;ONI59 :><?0=88| \n| companyName |`string`|>;=>5 =08<5=>20=85 C?@02;ONI59 :><?0=88| \n| logoURL |`string`|!AK;:0 =0 ;>3>B8? C?@02;ONI59 :><?0=88|",
        "summary": "api/External/funds copy",
        "tags": [
          "#?@02;ONI85 :><?0=88"
        ],
        "operationId": "FundsGet2",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": ""
          },
          {
            "name": "company",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": ""
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Fund"
              }
            },
            "examples": {
              "application/json": [
                {
                  "id": 1220,
                  "updateDate": "2018-04-18T17:53:54",
                  "prtId": 291,
                  "name": "=B5@20;L=K9 ?052>9 8=25AB8F8>==K9 D>=4 0:F89 \"@A035@0 - 0:F88 6.4\"",
                  "shortName": "$ \"@A035@0-0:F88 6.4\"",
                  "type": 2,
                  "pageName": "akcii_64",
                  "buyOnlineURL": "none",
                  "dataDate": "2018-03-30",
                  "navOne": 5728.85,
                  "navAll": 386284599.81,
                  "period": 12,
                  "incomeOne": 22.67,
                  "navOnePrev": 5775.02,
                  "navAllPrev": 385679568.73,
                  "dailyIncomeOne": -0.8,
                  "minInvestSum": 1000.0,
                  "minReInvestSum": 1000.0,
                  "companyShortName": " \"# \"@A035@0\"",
                  "companyName": "?C1;8G=>5 0:F8>=5@=>5 >1I5AB2> \"#?@02;ONI0O :><?0=8O \"@A035@0\"",
                  "logoURL": "site/org_291_logo.jpg"
                },
                {
                  "id": 1251,
                  "updateDate": "2018-04-18T17:38:05",
                  "prtId": 291,
                  "name": "=B5@20;L=K9 ?052>9 8=25AB8F8>==K9 D>=4 @K=>G=KE D8=0=A>2KE 8=AB@C<5=B>2 \"@A035@0 - 0:F88 8@0\"",
                  "shortName": "$ @K=>G=KE D8=0=A>2KE 8=AB@C<5=B>2 \"@A035@0 - \"",
                  "type": 2,
                  "pageName": "akcii_mira",
                  "buyOnlineURL": "none",
                  "dataDate": "2018-03-30",
                  "navOne": 1104.78,
                  "navAll": 46125241.36,
                  "period": 12,
                  "incomeOne": 14.07,
                  "navOnePrev": 1115.85,
                  "navAllPrev": 44717412.31,
                  "dailyIncomeOne": -0.99,
                  "minInvestSum": 1000.0,
                  "minReInvestSum": 1000.0,
                  "companyShortName": " \"# \"@A035@0\"",
                  "companyName": "?C1;8G=>5 0:F8>=5@=>5 >1I5AB2> \"#?@02;ONI0O :><?0=8O \"@A035@0\"",
                  "logoURL": "site/org_291_logo.jpg"
                },
                {
                  "id": 957,
                  "updateDate": "2018-04-19T13:45:41",
                  "prtId": 169,
                  "name": "B:@KBK9 ?052>9 8=25AB8F8>==K9 D>=4 @K=>G=KE D8=0=A>2KE 8=AB@C<5=B>2 \";Q=:0 - 0?8B0;\"",
                  "shortName": "$ @K=>G=KE D8=0=A>2KE 8=AB@C<5=B>2 \";Q=:0  0?8B0;\"",
                  "type": 1,
                  "pageName": "ak",
                  "buyOnlineURL": "none",
                  "dataDate": "2018-04-19",
                  "navOne": 5064.0,
                  "navAll": 93600301.2,
                  "period": 5,
                  "incomeOne": 1.31,
                  "navOnePrev": 5053.1,
                  "navAllPrev": 95296962.2,
                  "dailyIncomeOne": 0.22,
                  "minInvestSum": 10000.0,
                  "minReInvestSum": 10000.0,
                  "companyShortName": " \"# \"=25AB 5=546<5=B &5=B@\"",
                  "companyName": "1I5AB2> A >3@0=8G5==>9 >B25BAB25==>ABLN \"#?@02;ONI0O :><?0=8O \"=25AB 5=546<5=B &5=B@\"",
                  "logoURL": "site/org_169_logo.jpg"
                },
                {
                  "id": 940,
                  "updateDate": "2018-04-18T17:47:58",
                  "prtId": 170,
                  "name": "B:@KBK9 ?052>9 8=25AB8F8>==K9 D>=4 @K=>G=KE D8=0=A>2KE 8=AB@C<5=B>2 \"@8:0?8B0; - ;>10;L=K5 8=25AB8F88\"",
                  "shortName": "$ @K=>G=KE D8=0=A>2KE 8=AB@C<5=B>2 \"@8:0?8B0; - ;>10;L=K5 8=25AB8F88\"",
                  "type": 1,
                  "pageName": "ari-fund-gi",
                  "buyOnlineURL": "none",
                  "dataDate": "2018-04-20",
                  "navOne": 974.56,
                  "navAll": 175381712.84,
                  "period": 12,
                  "incomeOne": 4.01,
                  "navOnePrev": 986.14,
                  "navAllPrev": 177465966.52,
                  "dailyIncomeOne": -1.17,
                  "minInvestSum": 500000.0,
                  "minReInvestSum": 100000.0,
                  "companyShortName": " # \"@8:0?8B0;\"",
                  "companyName": "1I5AB2> A >3@0=8G5==>9 >B25BAB25==>ABLN #?@02;ONI0O :><?0=8O \"@8:0?8B0;\"",
                  "logoURL": "site/org_170_logo.jpg"
                },
                {
                  "id": 941,
                  "updateDate": "2018-04-18T17:48:34",
                  "prtId": 170,
                  "name": "B:@KBK9 ?052>9 8=25AB8F8>==K9 D>=4 @K=>G=KE D8=0=A>2KE 8=AB@C<5=B>2 \"@8:0?8B0; - '8ABK5 45=L38\"",
                  "shortName": "$ @K=>G=KE D8=0=A>2KE 8=AB@C<5=B>2 \"@8:0?8B0; - '8ABK5 45=L38\"",
                  "type": 1,
                  "pageName": "ari-fund-cm",
                  "buyOnlineURL": "none",
                  "dataDate": "2018-04-20",
                  "navOne": 1654.51,
                  "navAll": 1087393526.86,
                  "period": 12,
                  "incomeOne": 10.23,
                  "navOnePrev": 1678.82,
                  "navAllPrev": 1103368325.71,
                  "dailyIncomeOne": -1.45,
                  "minInvestSum": 100000.0,
                  "minReInvestSum": 10000.0,
                  "companyShortName": " # \"@8:0?8B0;\"",
                  "companyName": "1I5AB2> A >3@0=8G5==>9 >B25BAB25==>ABLN #?@02;ONI0O :><?0=8O \"@8:0?8B0;\"",
                  "logoURL": "site/org_170_logo.jpg"
                },
                {
                  "id": 1214,
                  "updateDate": "2018-04-24T10:26:11",
                  "prtId": 291,
                  "name": ">B:@KBK9 ?052>9 8=25AB8F8>==K9 D>=4 @K=>G=KE D8=0=A>2KE 8=AB@C<5=B>2 \"@A035@0 - D>=4 0:F89\"",
                  "shortName": "$ @K=>G=KE D8=0=A>2KE 8=AB@C<5=B>2 \"@A035@0 - $\"",
                  "type": 1,
                  "pageName": "fond_akcij",
                  "buyOnlineURL": "https://my.platform.finance/utm_redirect?utm_url=main%3fsysname%3dbidbuy_edit%26prodid%3d1214&utm_agent=",
                  "dataDate": "2018-04-20",
                  "navOne": 7068.35,
                  "navAll": 414721306.56,
                  "period": 12,
                  "incomeOne": 26.09,
                  "navOnePrev": 7112.96,
                  "navAllPrev": 417102595.36,
                  "dailyIncomeOne": -0.63,
                  "minInvestSum": 1000.0,
                  "minReInvestSum": 1000.0,
                  "companyShortName": " \"# \"@A035@0\"",
                  "companyName": "?C1;8G=>5 0:F8>=5@=>5 >1I5AB2> \"#?@02;ONI0O :><?0=8O \"@A035@0\"",
                  "logoURL": "site/org_291_logo.jpg"
                },
                {
                  "id": 1252,
                  "updateDate": "2018-04-24T10:24:45",
                  "prtId": 291,
                  "name": ">B:@KBK9 ?052>9 8=25AB8F8>==K9 D>=4 @K=>G=KE D8=0=A>2KE 8=AB@C<5=B>2 \"@A035@0 - D>=4 >1;830F89   1.55\"",
                  "shortName": "$ @K=>G=KE D8=0=A>2KE 8=AB@C<5=B>2 \"@A035@0 -   1.55\"",
                  "type": 1,
                  "pageName": "fond_obligacij_kr_155",
                  "buyOnlineURL": "https://my.platform.finance/utm_redirect?utm_url=main%3fsysname%3dbidbuy_edit%26prodid%3d1252&utm_agent=",
                  "dataDate": "2018-04-20",
                  "navOne": 1577.46,
                  "navAll": 58996530.22,
                  "period": 12,
                  "incomeOne": 10.85,
                  "navOnePrev": 1576.64,
                  "navAllPrev": 58957847.4,
                  "dailyIncomeOne": 0.05,
                  "minInvestSum": 1000.0,
                  "minReInvestSum": 1000.0,
                  "companyShortName": " \"# \"@A035@0\"",
                  "companyName": "?C1;8G=>5 0:F8>=5@=>5 >1I5AB2> \"#?@02;ONI0O :><?0=8O \"@A035@0\"",
                  "logoURL": "site/org_291_logo.jpg"
                },
                {
                  "id": 1213,
                  "updateDate": "2018-04-24T10:29:23",
                  "prtId": 291,
                  "name": ">B:@KBK9 ?052>9 8=25AB8F8>==K9 D>=4 @K=>G=KE D8=0=A>2KE 8=AB@C<5=B>2 \"@A035@0 - D>=4 A<5H0==KE 8=25AB8F89\"",
                  "shortName": "$ @K=>G=KE D8=0=A>2KE 8=AB@C<5=B>2 \"@A035@0 - !\"",
                  "type": 1,
                  "pageName": "fond_smeshannyh_investicij",
                  "buyOnlineURL": "https://my.platform.finance/utm_redirect?utm_url=main%3fsysname%3dbidbuy_edit%26prodid%3d1213&utm_agent=",
                  "dataDate": "2018-04-20",
                  "navOne": 4929.73,
                  "navAll": 131319477.07,
                  "period": 12,
                  "incomeOne": 23.13,
                  "navOnePrev": 4948.24,
                  "navAllPrev": 131812572.95,
                  "dailyIncomeOne": -0.37,
                  "minInvestSum": 1000.0,
                  "minReInvestSum": 1000.0,
                  "companyShortName": " \"# \"@A035@0\"",
                  "companyName": "?C1;8G=>5 0:F8>=5@=>5 >1I5AB2> \"#?@02;ONI0O :><?0=8O \"@A035@0\"",
                  "logoURL": "site/org_291_logo.jpg"
                },
                {
                  "id": 959,
                  "updateDate": "2018-04-18T17:50:21",
                  "prtId": 169,
                  "name": "B:@KBK9 ?052>9 8=25AB8F8>==K9 D>=4 @K=>G=KE D8=0=A>2KE 8=AB@C<5=B>2 \"0;NB=K9 @575@2\"",
                  "shortName": "$ @K=>G=KE D8=0=A>2KE 8=AB@C<5=B>2 \"0;NB=K9 @575@2\"",
                  "type": 1,
                  "pageName": "vz",
                  "buyOnlineURL": "none",
                  "dataDate": "2018-04-20",
                  "navOne": 1052.99,
                  "navAll": 26340619.36,
                  "period": 4,
                  "incomeOne": 5.33,
                  "navOnePrev": 1067.11,
                  "navAllPrev": 26693705.39,
                  "dailyIncomeOne": -1.32,
                  "minInvestSum": 10000.0,
                  "minReInvestSum": 10000.0,
                  "companyShortName": " \"# \"=25AB 5=546<5=B &5=B@\"",
                  "companyName": "1I5AB2> A >3@0=8G5==>9 >B25BAB25==>ABLN \"#?@02;ONI0O :><?0=8O \"=25AB 5=546<5=B &5=B@\"",
                  "logoURL": "site/org_169_logo.jpg"
                },
                {
                  "id": 1110,
                  "updateDate": "2018-04-17T12:13:48",
                  "prtId": 484,
                  "name": "B:@KBK9 ?052>9 8=25AB8F8>==K9 D>=4 @K=>G=KE D8=0=A>2KE 8=AB@C<5=B>2 \""$ - 0;NB=K5 52@>>1;830F88\"",
                  "shortName": "$ @K=>G=KE D8=0=A>2KE 8=AB@C<5=B>2 \""$ - 0;NB=K5 52@>>1;830F88\"",
                  "type": 1,
                  "pageName": "opif-rfi-tfg-valutnye-evroobligacii",
                  "buyOnlineURL": "https://my.platform.finance/utm_redirect?utm_url=main%3fsysname%3dbidbuy_edit%26prodid%3d1110&utm_agent=",
                  "dataDate": "2018-04-20",
                  "navOne": 163.31,
                  "navAll": 359130359.65,
                  "period": 12,
                  "incomeOne": 8.24,
                  "navOnePrev": 164.9,
                  "navAllPrev": 362628016.63,
                  "dailyIncomeOne": -0.96,
                  "minInvestSum": 300000.0,
                  "minReInvestSum": 300000.0,
                  "companyShortName": " \"# "$\"",
                  "companyName": ":F8>=5@=>5 >1I5AB2> \"#?@02;ONI0O :><?0=8O \"" !$ #\"",
                  "logoURL": "site/org_484_logo.jpg"
                }
              ]
            }
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [
          {
            "request": {
              "method": "GET",
              "uri": "/funds?type=1&company=169",
              "headers": {
                "Accept": "application/json"
              }
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "RAW",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "Access-Control-Allow-Credentials": "true",
                "Access-Control-Allow-Headers": "Authorization",
                "Access-Control-Allow-Methods": "GET, OPTIONS",
                "Connection": "keep-alive",
                "Content-Encoding": "gzip",
                "Content-Type": "application/json",
                "Date": "Tue, 24 Apr 2018 08:43:41 GMT",
                "Link": "<http://platform.finance/api/External/funds>; rel=\"self\",<http://platform.finance/api/External/funds?page=1>; rel=\"first\",<http://platform.finance/api/External/funds?page=2>; rel=\"next\",<http://platform.finance/api/External/funds?page=2>; rel=\"last\"",
                "Server": "nginx/1.10.3 (Ubuntu)",
                "Transfer-Encoding": "chunked",
                "Vary": "Accept-Encoding",
                "X-Pagination-Current-Page": "1",
                "X-Pagination-Per-Page": "10",
                "X-Pagination-Total-Entries": "13",
                "X-Pagination-Total-Pages": "2"
              },
              "body": "[{\"id\":1220,\"updateDate\":\"2018-04-18T17:53:54\",\"prtId\":291,\"name\":\"=B5@20;L=K9 ?052>9 8=25AB8F8>==K9 D>=4 0:F89 \\\"@A035@0 - 0:F88 6.4\\\"\",\"shortName\":\"$ \\\"@A035@0-0:F88 6.4\\\"\",\"type\":2,\"pageName\":\"akcii_64\",\"buyOnlineURL\":\"none\",\"dataDate\":\"2018-03-30\",\"navOne\":5728.85,\"navAll\":386284599.81,\"period\":12,\"incomeOne\":22.67,\"navOnePrev\":5775.02,\"navAllPrev\":385679568.73,\"dailyIncomeOne\":-0.8,\"minInvestSum\":1000.0,\"minReInvestSum\":1000.0,\"companyShortName\":\" \\\"# \\\"@A035@0\\\"\",\"companyName\":\"?C1;8G=>5 0:F8>=5@=>5 >1I5AB2> \\\"#?@02;ONI0O :><?0=8O \\\"@A035@0\\\"\",\"logoURL\":\"site/org_291_logo.jpg\"},{\"id\":1251,\"updateDate\":\"2018-04-18T17:38:05\",\"prtId\":291,\"name\":\"=B5@20;L=K9 ?052>9 8=25AB8F8>==K9 D>=4 @K=>G=KE D8=0=A>2KE 8=AB@C<5=B>2 \\\"@A035@0 - 0:F88 8@0\\\"\",\"shortName\":\"$ @K=>G=KE D8=0=A>2KE 8=AB@C<5=B>2 \\\"@A035@0 - \\\"\",\"type\":2,\"pageName\":\"akcii_mira\",\"buyOnlineURL\":\"none\",\"dataDate\":\"2018-03-30\",\"navOne\":1104.78,\"navAll\":46125241.36,\"period\":12,\"incomeOne\":14.07,\"navOnePrev\":1115.85,\"navAllPrev\":44717412.31,\"dailyIncomeOne\":-0.99,\"minInvestSum\":1000.0,\"minReInvestSum\":1000.0,\"companyShortName\":\" \\\"# \\\"@A035@0\\\"\",\"companyName\":\"?C1;8G=>5 0:F8>=5@=>5 >1I5AB2> \\\"#?@02;ONI0O :><?0=8O \\\"@A035@0\\\"\",\"logoURL\":\"site/org_291_logo.jpg\"},{\"id\":957,\"updateDate\":\"2018-04-19T13:45:41\",\"prtId\":169,\"name\":\"B:@KBK9 ?052>9 8=25AB8F8>==K9 D>=4 @K=>G=KE D8=0=A>2KE 8=AB@C<5=B>2 \\\";Q=:0 - 0?8B0;\\\"\",\"shortName\":\"$ @K=>G=KE D8=0=A>2KE 8=AB@C<5=B>2 \\\";Q=:0  0?8B0;\\\"\",\"type\":1,\"pageName\":\"ak\",\"buyOnlineURL\":\"none\",\"dataDate\":\"2018-04-19\",\"navOne\":5064.0,\"navAll\":93600301.2,\"period\":5,\"incomeOne\":1.31,\"navOnePrev\":5053.1,\"navAllPrev\":95296962.2,\"dailyIncomeOne\":0.22,\"minInvestSum\":10000.0,\"minReInvestSum\":10000.0,\"companyShortName\":\" \\\"# \\\"=25AB 5=546<5=B &5=B@\\\"\",\"companyName\":\"1I5AB2> A >3@0=8G5==>9 >B25BAB25==>ABLN \\\"#?@02;ONI0O :><?0=8O \\\"=25AB 5=546<5=B &5=B@\\\"\",\"logoURL\":\"site/org_169_logo.jpg\"},{\"id\":940,\"updateDate\":\"2018-04-18T17:47:58\",\"prtId\":170,\"name\":\"B:@KBK9 ?052>9 8=25AB8F8>==K9 D>=4 @K=>G=KE D8=0=A>2KE 8=AB@C<5=B>2 \\\"@8:0?8B0; - ;>10;L=K5 8=25AB8F88\\\"\",\"shortName\":\"$ @K=>G=KE D8=0=A>2KE 8=AB@C<5=B>2 \\\"@8:0?8B0; - ;>10;L=K5 8=25AB8F88\\\"\",\"type\":1,\"pageName\":\"ari-fund-gi\",\"buyOnlineURL\":\"none\",\"dataDate\":\"2018-04-20\",\"navOne\":974.56,\"navAll\":175381712.84,\"period\":12,\"incomeOne\":4.01,\"navOnePrev\":986.14,\"navAllPrev\":177465966.52,\"dailyIncomeOne\":-1.17,\"minInvestSum\":500000.0,\"minReInvestSum\":100000.0,\"companyShortName\":\" # \\\"@8:0?8B0;\\\"\",\"companyName\":\"1I5AB2> A >3@0=8G5==>9 >B25BAB25==>ABLN #?@02;ONI0O :><?0=8O \\\"@8:0?8B0;\\\"\",\"logoURL\":\"site/org_170_logo.jpg\"},{\"id\":941,\"updateDate\":\"2018-04-18T17:48:34\",\"prtId\":170,\"name\":\"B:@KBK9 ?052>9 8=25AB8F8>==K9 D>=4 @K=>G=KE D8=0=A>2KE 8=AB@C<5=B>2 \\\"@8:0?8B0; - '8ABK5 45=L38\\\"\",\"shortName\":\"$ @K=>G=KE D8=0=A>2KE 8=AB@C<5=B>2 \\\"@8:0?8B0; - '8ABK5 45=L38\\\"\",\"type\":1,\"pageName\":\"ari-fund-cm\",\"buyOnlineURL\":\"none\",\"dataDate\":\"2018-04-20\",\"navOne\":1654.51,\"navAll\":1087393526.86,\"period\":12,\"incomeOne\":10.23,\"navOnePrev\":1678.82,\"navAllPrev\":1103368325.71,\"dailyIncomeOne\":-1.45,\"minInvestSum\":100000.0,\"minReInvestSum\":10000.0,\"companyShortName\":\" # \\\"@8:0?8B0;\\\"\",\"companyName\":\"1I5AB2> A >3@0=8G5==>9 >B25BAB25==>ABLN #?@02;ONI0O :><?0=8O \\\"@8:0?8B0;\\\"\",\"logoURL\":\"site/org_170_logo.jpg\"},{\"id\":1214,\"updateDate\":\"2018-04-24T10:26:11\",\"prtId\":291,\"name\":\">B:@KBK9 ?052>9 8=25AB8F8>==K9 D>=4 @K=>G=KE D8=0=A>2KE 8=AB@C<5=B>2 \\\"@A035@0 - D>=4 0:F89\\\"\",\"shortName\":\"$ @K=>G=KE D8=0=A>2KE 8=AB@C<5=B>2 \\\"@A035@0 - $\\\"\",\"type\":1,\"pageName\":\"fond_akcij\",\"buyOnlineURL\":\"https://my.platform.finance/utm_redirect?utm_url=main%3fsysname%3dbidbuy_edit%26prodid%3d1214&utm_agent=\",\"dataDate\":\"2018-04-20\",\"navOne\":7068.35,\"navAll\":414721306.56,\"period\":12,\"incomeOne\":26.09,\"navOnePrev\":7112.96,\"navAllPrev\":417102595.36,\"dailyIncomeOne\":-0.63,\"minInvestSum\":1000.0,\"minReInvestSum\":1000.0,\"companyShortName\":\" \\\"# \\\"@A035@0\\\"\",\"companyName\":\"?C1;8G=>5 0:F8>=5@=>5 >1I5AB2> \\\"#?@02;ONI0O :><?0=8O \\\"@A035@0\\\"\",\"logoURL\":\"site/org_291_logo.jpg\"},{\"id\":1252,\"updateDate\":\"2018-04-24T10:24:45\",\"prtId\":291,\"name\":\">B:@KBK9 ?052>9 8=25AB8F8>==K9 D>=4 @K=>G=KE D8=0=A>2KE 8=AB@C<5=B>2 \\\"@A035@0 - D>=4 >1;830F89   1.55\\\"\",\"shortName\":\"$ @K=>G=KE D8=0=A>2KE 8=AB@C<5=B>2 \\\"@A035@0 -   1.55\\\"\",\"type\":1,\"pageName\":\"fond_obligacij_kr_155\",\"buyOnlineURL\":\"https://my.platform.finance/utm_redirect?utm_url=main%3fsysname%3dbidbuy_edit%26prodid%3d1252&utm_agent=\",\"dataDate\":\"2018-04-20\",\"navOne\":1577.46,\"navAll\":58996530.22,\"period\":12,\"incomeOne\":10.85,\"navOnePrev\":1576.64,\"navAllPrev\":58957847.4,\"dailyIncomeOne\":0.05,\"minInvestSum\":1000.0,\"minReInvestSum\":1000.0,\"companyShortName\":\" \\\"# \\\"@A035@0\\\"\",\"companyName\":\"?C1;8G=>5 0:F8>=5@=>5 >1I5AB2> \\\"#?@02;ONI0O :><?0=8O \\\"@A035@0\\\"\",\"logoURL\":\"site/org_291_logo.jpg\"},{\"id\":1213,\"updateDate\":\"2018-04-24T10:29:23\",\"prtId\":291,\"name\":\">B:@KBK9 ?052>9 8=25AB8F8>==K9 D>=4 @K=>G=KE D8=0=A>2KE 8=AB@C<5=B>2 \\\"@A035@0 - D>=4 A<5H0==KE 8=25AB8F89\\\"\",\"shortName\":\"$ @K=>G=KE D8=0=A>2KE 8=AB@C<5=B>2 \\\"@A035@0 - !\\\"\",\"type\":1,\"pageName\":\"fond_smeshannyh_investicij\",\"buyOnlineURL\":\"https://my.platform.finance/utm_redirect?utm_url=main%3fsysname%3dbidbuy_edit%26prodid%3d1213&utm_agent=\",\"dataDate\":\"2018-04-20\",\"navOne\":4929.73,\"navAll\":131319477.07,\"period\":12,\"incomeOne\":23.13,\"navOnePrev\":4948.24,\"navAllPrev\":131812572.95,\"dailyIncomeOne\":-0.37,\"minInvestSum\":1000.0,\"minReInvestSum\":1000.0,\"companyShortName\":\" \\\"# \\\"@A035@0\\\"\",\"companyName\":\"?C1;8G=>5 0:F8>=5@=>5 >1I5AB2> \\\"#?@02;ONI0O :><?0=8O \\\"@A035@0\\\"\",\"logoURL\":\"site/org_291_logo.jpg\"},{\"id\":959,\"updateDate\":\"2018-04-18T17:50:21\",\"prtId\":169,\"name\":\"B:@KBK9 ?052>9 8=25AB8F8>==K9 D>=4 @K=>G=KE D8=0=A>2KE 8=AB@C<5=B>2 \\\"0;NB=K9 @575@2\\\"\",\"shortName\":\"$ @K=>G=KE D8=0=A>2KE 8=AB@C<5=B>2 \\\"0;NB=K9 @575@2\\\"\",\"type\":1,\"pageName\":\"vz\",\"buyOnlineURL\":\"none\",\"dataDate\":\"2018-04-20\",\"navOne\":1052.99,\"navAll\":26340619.36,\"period\":4,\"incomeOne\":5.33,\"navOnePrev\":1067.11,\"navAllPrev\":26693705.39,\"dailyIncomeOne\":-1.32,\"minInvestSum\":10000.0,\"minReInvestSum\":10000.0,\"companyShortName\":\" \\\"# \\\"=25AB 5=546<5=B &5=B@\\\"\",\"companyName\":\"1I5AB2> A >3@0=8G5==>9 >B25BAB25==>ABLN \\\"#?@02;ONI0O :><?0=8O \\\"=25AB 5=546<5=B &5=B@\\\"\",\"logoURL\":\"site/org_169_logo.jpg\"},{\"id\":1110,\"updateDate\":\"2018-04-17T12:13:48\",\"prtId\":484,\"name\":\"B:@KBK9 ?052>9 8=25AB8F8>==K9 D>=4 @K=>G=KE D8=0=A>2KE 8=AB@C<5=B>2 \\\""$ - 0;NB=K5 52@>>1;830F88\\\"\",\"shortName\":\"$ @K=>G=KE D8=0=A>2KE 8=AB@C<5=B>2 \\\""$ - 0;NB=K5 52@>>1;830F88\\\"\",\"type\":1,\"pageName\":\"opif-rfi-tfg-valutnye-evroobligacii\",\"buyOnlineURL\":\"https://my.platform.finance/utm_redirect?utm_url=main%3fsysname%3dbidbuy_edit%26prodid%3d1110&utm_agent=\",\"dataDate\":\"2018-04-20\",\"navOne\":163.31,\"navAll\":359130359.65,\"period\":12,\"incomeOne\":8.24,\"navOnePrev\":164.9,\"navAllPrev\":362628016.63,\"dailyIncomeOne\":-0.96,\"minInvestSum\":300000.0,\"minReInvestSum\":300000.0,\"companyShortName\":\" \\\"# "$\\\"\",\"companyName\":\":F8>=5@=>5 >1I5AB2> \\\"#?@02;ONI0O :><?0=8O \\\"" !$ #\\\"\",\"logoURL\":\"site/org_484_logo.jpg\"}]"
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "api/External/funds copy",
            "x-testDescription": "### >;CG5=85 @55AB@0 $\n5B>4 2>72@0I05B <0AA82 4>ABC?=KE : ?@>4065 $.\n\n#### =D>@<0F8>==K5 ?>;O >B25B0\n| 0@0<5B@ | B8? |?8A0=85|\n| --------- | ----------- | -----------|\n| updateDate | `date`  | 0B0 >1=>2;5=8O $|\n| prtId | `int` | >4 >@30=870F88|\n| name | `string`  | >;=>5 =08<5=>20=85 $ | \n| shortName | `string`  | @0B:>5 =08<5=>20=85 $ | \n| type | `int` |"8? $.|\n| pageName | `string`  |4@5A 4;O AB@0=8FK $|\n| buyOnlineURL | `string`  | 4@5A 4;O :=>?:8 «C?8BL»|\n| dataDate | `date`  | 0B0 0:BC0;L=>3> (?>A;54=53>) ?>:070B5;O.|\n| navOne | `int` |!B>8<>ABL >4=>3> ?0O.|\n| navAll | `int` | 07<5@ !'.|\n| period | `int` |5@8>4 2 <5AOF0E, 70 :>B>@K9 @0AAG8B0=0 4>E>4=>ABL|\n| incomeOne | `int`| >E>4=>ABL 70 ?5@8>4 ?> AB>8<>AB8 >4=>3> ?0O|\n| navOnePrev | `int`| =0G5=85 AB>8<>AB8 ?0O, ?@54H5AB2CNI55 0:BC0;L=><C 7=0G5=8N ?>:070B5;O.|\n| navAllPrev | `int`| =0G5=85 @07<5@0 !', ?@54H5AB2CNI55 0:BC0;L=><C 7=0G5=8N ?>:070B5;O.|\n| dailyIncomeOne | `int`| =0G5=85 @0AG5B=>9 4>E>4=>AB8 ?> AB>8<>AB8 ?0O |\n| minInvestSum | `int`| 8=8<0;L=0O AC<<0 ?>2B>@=>9 8=25AB8F88|\n| minReInvestSum | `int` |8=8<0;L=0O AC<<0 ?>2B>@=>9 8=25AB8F88|\n| companyShortName | `string`| @0B:>5 =08<5=>20=85 C?@02;ONI59 :><?0=88| \n| companyName |`string`|>;=>5 =08<5=>20=85 C?@02;ONI59 :><?0=88| \n| logoURL |`string`|!AK;:0 =0 ;>3>B8? C?@02;ONI59 :><?0=88|"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/fund/{fundId}": {
      "get": {
        "description": "### >;CG5=85 40==KE $\n5B>4 2>72@0I05B <0AA82 40==KE C:070==>3> $.\n\n#### =D>@<0F8>==K5 ?>;O >B25B0\n| 0@0<5B@ | "8? |?8A0=85|\n| --------- | ----------- | -----------|\n| id  | `int` |>4 $.|\n| updateDate  | `date` | 0B0 >1=>2;5=8O $. |\n| prtId  | `int` |45=B8D8:0B>@ #.|\n| name  | `string` | >;=>5 =08<5=>20=85 $ |\n| shortName  | `string` | @0B:>5 =08<5=>20=85 $ |\n| type  | `int` |"8? $.|\n| pageName  | `string` | 4@5A 4;O AB@0=8FK $ |\n| buyOnlineURL  | `string` | 4@5A 4;O :=>?:8 «C?8BL». |\n| shortDescr  | `string` | @0B:>5 >?8A0=85 A D>@<0B8@>20=85< HTML |\n| fullDescr  | `string` | >4@>1=>5 >?8A0=85 A D>@<0B8@>20=85< HTML|\n| advantages | `array` | 55AB@ 40==KE > ?@58<CI5AB20E $ |\n| fees | `array` | 55AB@ 40==KE > :><8AA8OE $ |\n| dataDate | `date` | 0B0 0:BC0;870F88 ?>:070B5;59 |\n| navAll | `int` | :BC0;L=0O AB>8<>ABL G8ABKE 0:B82>2 |\n| navOne | `int` |:BC0;L=0O AB>8<>ABL >4=>3> ?0O |\n| navOnePrev | `int` | 55AB@ 40==KE > $ 4;O >1<5=0 |\n| dailyIncomeOne | `int` |=0G5=85 @0AG5B=>9 4>E>4=>AB8 ?> AB>8<>AB8 ?0O  |\n| minInvestSum | `int` |8=8<0;L=0O AC<<0 4;O 8=25AB8F88.|\n| minReInvestSum | `int` |8=8<0;L=0O AC<<0 ?>2B>@=>9 8=25AB8F88.|\n| incomes | `array` | 55AB@ 40==KE > 4>E>4=>AB8 $ 70 @07;8G=K5 ?5@8>4K.|\n| structure | `array` |!B@C:BC@0 $.|\n| companyShortName | `string` |@0B:>5 =08<5=>20=85 #.|\n| companyName | `string` |>;=>5 =08<5=>20=85 #. |\n| logoURL | `string` |!AK;:0 =0 ;>3>B8? #.|",
        "summary": "api/External/fund/:fundId",
        "tags": [
          "$>=4K"
        ],
        "operationId": "FundByFundIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "fundId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ">4 $"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Api~1external~1fund~1959"
            },
            "examples": {
              "application/json": {
                "id": 959,
                "updateDate": "2018-04-18T17:50:21",
                "prtId": 169,
                "name": "B:@KBK9 ?052>9 8=25AB8F8>==K9 D>=4 @K=>G=KE D8=0=A>2KE 8=AB@C<5=B>2 \"0;NB=K9 @575@2\"",
                "shortName": "$ @K=>G=KE D8=0=A>2KE 8=AB@C<5=B>2 \"0;NB=K9 @575@2\"",
                "type": 1,
                "pageName": "vz",
                "buyOnlineURL": "none",
                "shortDescr": "<font color=\"#9C9C94\">-B> 20;NB=K9 (4>;;0@, 52@>) >1;830F8>==K9 D>=4, >A=>2C ?>@BD5;O :>B>@>3> A>AB02;ONB 3>AC40@AB25==K5 8 :>@?>@0B82=K5 >1;830F88 254CI8E :>@?>@0F89 <8@0.</font>",
                "fullDescr": "$ @D8 «0;NB=K9 @575@2»  MB> 20;NB=K9 (4>;;0@, 52@>) >1;830F8>==K9 D>=4, >A=>2C ?>@BD5;O :>B>@>3> A>AB02;ONB 3>AC40@AB25==K5 8 :>@?>@0B82=K5 >1;830F88 254CI8E :>@?>@0F89 <8@0.&nbsp; <br>",
                "advantages": {
                  "advantage": [
                    {
                      "description": ":B82=> C?@02;O5<K9 D>=4, ?>@BD5;L >?B8<878@C5BAO 8AE>4O 87 A8BC0F88 =0 @K=:5"
                    },
                    {
                      "description": "48= 87 =081>;55 :>=A5@20B82=KE D>=4>2 2 ;8=59:5 «#»"
                    }
                  ]
                },
                "fees": {
                  "fee": [
                    {
                      "description": "0 C?@02;5=85 - 1.5% 2 3>4"
                    },
                    {
                      "description": "@8 ?>30H5=88 ?0O @0=55, G5< G5@57 365 4=O  0.5% >B AC<<K, G5@57 1 3>4 - 0.25% >B AC<<K"
                    }
                  ]
                },
                "fileLinks": {
                  "link": [
                    {
                      "url": "http://invmc.ru/funds/vz/",
                      "description": "@028;0 4>25@8B5;L=>3> C?@02;5=8O"
                    },
                    {
                      "url": "http://invmc.ru/funds/vz/",
                      "description": "BG5B=>ABL D>=40"
                    }
                  ]
                },
                "dataDate": "2018-04-24",
                "navOne": 1069.54,
                "navAll": 26754460.68,
                "navOnePrev": 1061.65,
                "navAllPrev": 26557215.2,
                "dailyIncomeOne": 0.74,
                "minInvestSum": 10000.0,
                "minReInvestSum": 10000.0,
                "incomes": {
                  "income": [
                    {
                      "period": 3,
                      "incomeOne": 7.57
                    },
                    {
                      "period": 4,
                      "incomeOne": 6.98
                    }
                  ]
                },
                "structure": {
                  "active": [
                    {
                      "type": 0,
                      "value": 11.36
                    },
                    {
                      "type": 1,
                      "value": 29.14
                    },
                    {
                      "type": 2,
                      "value": 35.58
                    },
                    {
                      "type": 3,
                      "value": 0.0
                    },
                    {
                      "type": 4,
                      "value": 0.0
                    },
                    {
                      "type": 5,
                      "value": 0.0
                    },
                    {
                      "type": 6,
                      "value": 0.0
                    },
                    {
                      "type": 7,
                      "value": 24.7
                    }
                  ]
                },
                "companyShortName": " \"# \"=25AB 5=546<5=B &5=B@\"",
                "companyName": "1I5AB2> A >3@0=8G5==>9 >B25BAB25==>ABLN \"#?@02;ONI0O :><?0=8O \"=25AB 5=546<5=B &5=B@\"",
                "logoURL": "site/org_169_logo.jpg"
              }
            }
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [
          {
            "request": {
              "method": "GET",
              "uri": "/fund/957",
              "headers": {
                "Accept": "application/json"
              }
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "RAW",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "Access-Control-Allow-Credentials": "true",
                "Access-Control-Allow-Headers": "Authorization",
                "Access-Control-Allow-Methods": "GET, OPTIONS",
                "Connection": "keep-alive",
                "Content-Encoding": "gzip",
                "Content-Type": "application/json",
                "Date": "Wed, 25 Apr 2018 14:01:30 GMT",
                "Server": "nginx/1.10.3 (Ubuntu)",
                "Transfer-Encoding": "chunked",
                "Vary": "Accept-Encoding"
              },
              "body": "{\"id\":959,\"updateDate\":\"2018-04-18T17:50:21\",\"prtId\":169,\"name\":\"B:@KBK9 ?052>9 8=25AB8F8>==K9 D>=4 @K=>G=KE D8=0=A>2KE 8=AB@C<5=B>2 \\\"0;NB=K9 @575@2\\\"\",\"shortName\":\"$ @K=>G=KE D8=0=A>2KE 8=AB@C<5=B>2 \\\"0;NB=K9 @575@2\\\"\",\"type\":1,\"pageName\":\"vz\",\"buyOnlineURL\":\"none\",\"shortDescr\":\"<font color=\\\"#9C9C94\\\">-B> 20;NB=K9 (4>;;0@, 52@>) >1;830F8>==K9 D>=4, >A=>2C ?>@BD5;O :>B>@>3> A>AB02;ONB 3>AC40@AB25==K5 8 :>@?>@0B82=K5 >1;830F88 254CI8E :>@?>@0F89 <8@0.</font>\",\"fullDescr\":\"$ @D8 «0;NB=K9 @575@2»  MB> 20;NB=K9 (4>;;0@, 52@>) >1;830F8>==K9 D>=4, >A=>2C ?>@BD5;O :>B>@>3> A>AB02;ONB 3>AC40@AB25==K5 8 :>@?>@0B82=K5 >1;830F88 254CI8E :>@?>@0F89 <8@0.&nbsp; <br>\",\"advantages\":{\"advantage\":[{\"description\":\":B82=> C?@02;O5<K9 D>=4, ?>@BD5;L >?B8<878@C5BAO 8AE>4O 87 A8BC0F88 =0 @K=:5\"},{\"description\":\"48= 87 =081>;55 :>=A5@20B82=KE D>=4>2 2 ;8=59:5 «#»\"}]},\"fees\":{\"fee\":[{\"description\":\"0 C?@02;5=85 - 1.5% 2 3>4\"},{\"description\":\"@8 ?>30H5=88 ?0O @0=55, G5< G5@57 365 4=O  0.5% >B AC<<K, G5@57 1 3>4 - 0.25% >B AC<<K\"}]},\"fileLinks\":{\"link\":[{\"url\":\"http://invmc.ru/funds/vz/\",\"description\":\"@028;0 4>25@8B5;L=>3> C?@02;5=8O\"},{\"url\":\"http://invmc.ru/funds/vz/\",\"description\":\"BG5B=>ABL D>=40\"}]},\"dataDate\":\"2018-04-24\",\"navOne\":1069.54,\"navAll\":26754460.68,\"navOnePrev\":1061.65,\"navAllPrev\":26557215.2,\"dailyIncomeOne\":0.74,\"minInvestSum\":10000.0,\"minReInvestSum\":10000.0,\"incomes\":{\"income\":[{\"period\":3,\"incomeOne\":7.57},{\"period\":4,\"incomeOne\":6.98}]},\"structure\":{\"active\":[{\"type\":0,\"value\":11.36},{\"type\":1,\"value\":29.14},{\"type\":2,\"value\":35.58},{\"type\":3,\"value\":0.0},{\"type\":4,\"value\":0.0},{\"type\":5,\"value\":0.0},{\"type\":6,\"value\":0.0},{\"type\":7,\"value\":24.7}]},\"companyShortName\":\" \\\"# \\\"=25AB 5=546<5=B &5=B@\\\"\",\"companyName\":\"1I5AB2> A >3@0=8G5==>9 >B25BAB25==>ABLN \\\"#?@02;ONI0O :><?0=8O \\\"=25AB 5=546<5=B &5=B@\\\"\",\"logoURL\":\"site/org_169_logo.jpg\"}"
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "api/External/fund/:fundId",
            "x-testDescription": "### >;CG5=85 40==KE $\n5B>4 2>72@0I05B <0AA82 40==KE C:070==>3> $.\n\n#### =D>@<0F8>==K5 ?>;O >B25B0\n| 0@0<5B@ | "8? |?8A0=85|\n| --------- | ----------- | -----------|\n| id  | `int` |>4 $.|\n| updateDate  | `date` | 0B0 >1=>2;5=8O $. |\n| prtId  | `int` |45=B8D8:0B>@ #.|\n| name  | `string` | >;=>5 =08<5=>20=85 $ |\n| shortName  | `string` | @0B:>5 =08<5=>20=85 $ |\n| type  | `int` |"8? $.|\n| pageName  | `string` | 4@5A 4;O AB@0=8FK $ |\n| buyOnlineURL  | `string` | 4@5A 4;O :=>?:8 «C?8BL». |\n| shortDescr  | `string` | @0B:>5 >?8A0=85 A D>@<0B8@>20=85< HTML |\n| fullDescr  | `string` | >4@>1=>5 >?8A0=85 A D>@<0B8@>20=85< HTML|\n| advantages | `array` | 55AB@ 40==KE > ?@58<CI5AB20E $ |\n| fees | `array` | 55AB@ 40==KE > :><8AA8OE $ |\n| dataDate | `date` | 0B0 0:BC0;870F88 ?>:070B5;59 |\n| navAll | `int` | :BC0;L=0O AB>8<>ABL G8ABKE 0:B82>2 |\n| navOne | `int` |:BC0;L=0O AB>8<>ABL >4=>3> ?0O |\n| navOnePrev | `int` | 55AB@ 40==KE > $ 4;O >1<5=0 |\n| dailyIncomeOne | `int` |=0G5=85 @0AG5B=>9 4>E>4=>AB8 ?> AB>8<>AB8 ?0O  |\n| minInvestSum | `int` |8=8<0;L=0O AC<<0 4;O 8=25AB8F88.|\n| minReInvestSum | `int` |8=8<0;L=0O AC<<0 ?>2B>@=>9 8=25AB8F88.|\n| incomes | `array` | 55AB@ 40==KE > 4>E>4=>AB8 $ 70 @07;8G=K5 ?5@8>4K.|\n| structure | `array` |!B@C:BC@0 $.|\n| companyShortName | `string` |@0B:>5 =08<5=>20=85 #.|\n| companyName | `string` |>;=>5 =08<5=>20=85 #. |\n| logoURL | `string` |!AK;:0 =0 ;>3>B8? #.|"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/fund/{fundId}/income": {
      "get": {
        "description": "### >;CG5=85 4>E>4=>AB8 $.\n5B>4 2>72@0I05B ?>:070B5;8 4>E>4=>AB8 $ 70 C:070==K9 ?5@8>4.\n\n### 0@0<5B@K >B25B0\n\n| 0@0<5B@ | "8? | ?8A0=85 |\n| --------- | ----------- | -----------|\n| `begNavOne` | `int` | !B>8<>ABL ?0O =0 40BC =0G0;0 ?5@8>40. |\n| `endNavOne` | `int` | !B>8<>ABL ?0O =0 40BC >:>=G0=8O ?5@8>40. |\n| `incomeOne` | `int` | >E>4=>ABL ?> AB>8<>AB8 ?0O. |",
        "summary": "api/External/fund/:fundId/income",
        "tags": [
          "$>=4K"
        ],
        "operationId": "FundIncomeByFundIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": ""
          },
          {
            "name": "fundId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ">4 $"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Api~1external~1fund~1959~1income?period=3"
            },
            "examples": {
              "application/json": {
                "begNavOne": 994.27,
                "endNavOne": 1069.54,
                "incomeOne": 7.57
              }
            }
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [
          {
            "request": {
              "method": "GET",
              "uri": "/fund/959/income?period=3",
              "headers": {
                "Accept": "application/json"
              }
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "RAW",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "Access-Control-Allow-Credentials": "true",
                "Access-Control-Allow-Headers": "Authorization",
                "Access-Control-Allow-Methods": "GET, OPTIONS",
                "Connection": "keep-alive",
                "Content-Length": "57",
                "Content-Type": "application/json",
                "Date": "Wed, 25 Apr 2018 13:49:32 GMT",
                "Server": "nginx/1.10.3 (Ubuntu)"
              },
              "body": "{\"begNavOne\":994.27,\"endNavOne\":1069.54,\"incomeOne\":7.57}"
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "api/External/fund/:fundId/income",
            "x-testDescription": "### >;CG5=85 4>E>4=>AB8 $.\n5B>4 2>72@0I05B ?>:070B5;8 4>E>4=>AB8 $ 70 C:070==K9 ?5@8>4.\n\n### 0@0<5B@K >B25B0\n\n| 0@0<5B@ | "8? | ?8A0=85 |\n| --------- | ----------- | -----------|\n| `begNavOne` | `int` | !B>8<>ABL ?0O =0 40BC =0G0;0 ?5@8>40. |\n| `endNavOne` | `int` | !B>8<>ABL ?0O =0 40BC >:>=G0=8O ?5@8>40. |\n| `incomeOne` | `int` | >E>4=>ABL ?> AB>8<>AB8 ?0O. |"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/fund/{fundId}/nav": {
      "get": {
        "description": "### >;CG5=85 ?>:070B5;59 $\n5B>4 2>72@0I05B ?>:070B5;8 !' $ 70 C:070==K9 ?5@8>4.\n\n### =D>@<0F8>==K5 ?>;O >B25B0\n| 0@0<5B@ | "8? | ?8A0=85 |\n| --------- | ----------- | -----------|\n| `dataDate` | `date` | 0B0 ?>:070B5;O. |\n| `navOne` | `int` | !B>8<>ABL >4=>3> ?0O. |\n| `navAll` | `int` | 07<5@ !'. |",
        "summary": "api/External/fund/:fundId/nav",
        "tags": [
          "$>=4K"
        ],
        "operationId": "FundNavByFundIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "begDate",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date-time",
            "description": ""
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "date-time",
            "description": ""
          },
          {
            "name": "fundId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/~1api~1external~1fund~1959~1nav"
              }
            },
            "examples": {
              "application/json": [
                {
                  "dataDate": "2017-12-14",
                  "navOne": 999.72,
                  "navAll": 25017909.91
                },
                {
                  "dataDate": "2017-12-15",
                  "navOne": 999.43,
                  "navAll": 25010821.82
                },
                {
                  "dataDate": "2017-12-18",
                  "navOne": 999.15,
                  "navAll": 25003735.73
                },
                {
                  "dataDate": "2017-12-19",
                  "navOne": 998.87,
                  "navAll": 24996651.66
                },
                {
                  "dataDate": "2017-12-20",
                  "navOne": 998.37,
                  "navAll": 24984188.77
                },
                {
                  "dataDate": "2017-12-21",
                  "navOne": 998.33,
                  "navAll": 24983188.51
                },
                {
                  "dataDate": "2017-12-22",
                  "navOne": 998.77,
                  "navAll": 24994155.14
                },
                {
                  "dataDate": "2017-12-25",
                  "navOne": 999.66,
                  "navAll": 25016515.45
                },
                {
                  "dataDate": "2017-12-26",
                  "navOne": 1000.33,
                  "navAll": 25033171.03
                },
                {
                  "dataDate": "2017-12-27",
                  "navOne": 997.17,
                  "navAll": 24954172.23
                },
                {
                  "dataDate": "2017-12-28",
                  "navOne": 996.65,
                  "navAll": 24941139.61
                },
                {
                  "dataDate": "2017-12-29",
                  "navOne": 997.36,
                  "navAll": 24958846.25
                },
                {
                  "dataDate": "2018-01-09",
                  "navOne": 999.44,
                  "navAll": 25010896.28
                },
                {
                  "dataDate": "2018-01-10",
                  "navOne": 999.73,
                  "navAll": 25018296.08
                },
                {
                  "dataDate": "2018-01-11",
                  "navOne": 998.01,
                  "navAll": 24975308.05
                },
                {
                  "dataDate": "2018-01-12",
                  "navOne": 997.2,
                  "navAll": 24954999.54
                },
                {
                  "dataDate": "2018-01-15",
                  "navOne": 996.48,
                  "navAll": 24937027.98
                },
                {
                  "dataDate": "2018-01-16",
                  "navOne": 995.12,
                  "navAll": 24902880.49
                },
                {
                  "dataDate": "2018-01-17",
                  "navOne": 995.25,
                  "navAll": 24906112.08
                },
                {
                  "dataDate": "2018-01-18",
                  "navOne": 995.36,
                  "navAll": 24908922.86
                },
                {
                  "dataDate": "2018-01-19",
                  "navOne": 994.76,
                  "navAll": 24893887.92
                },
                {
                  "dataDate": "2018-01-22",
                  "navOne": 995.02,
                  "navAll": 24900395.99
                },
                {
                  "dataDate": "2018-01-23",
                  "navOne": 994.74,
                  "navAll": 24893341.2
                },
                {
                  "dataDate": "2018-01-24",
                  "navOne": 994.27,
                  "navAll": 24881669.71
                },
                {
                  "dataDate": "2018-01-25",
                  "navOne": 994.52,
                  "navAll": 24887886.47
                },
                {
                  "dataDate": "2018-01-26",
                  "navOne": 997.7,
                  "navAll": 24967352.2
                },
                {
                  "dataDate": "2018-01-29",
                  "navOne": 999.6,
                  "navAll": 25014937.95
                },
                {
                  "dataDate": "2018-01-30",
                  "navOne": 999.34,
                  "navAll": 25008525.51
                },
                {
                  "dataDate": "2018-01-31",
                  "navOne": 998.43,
                  "navAll": 24985669.55
                },
                {
                  "dataDate": "2018-02-01",
                  "navOne": 997.18,
                  "navAll": 24954552.41
                },
                {
                  "dataDate": "2018-02-02",
                  "navOne": 1001.23,
                  "navAll": 25055826.57
                },
                {
                  "dataDate": "2018-02-05",
                  "navOne": 1003.65,
                  "navAll": 25116358.58
                },
                {
                  "dataDate": "2018-02-06",
                  "navOne": 1007.16,
                  "navAll": 25204060.72
                },
                {
                  "dataDate": "2018-02-07",
                  "navOne": 1006.88,
                  "navAll": 25197159.83
                },
                {
                  "dataDate": "2018-02-08",
                  "navOne": 1013.02,
                  "navAll": 25350873.04
                },
                {
                  "dataDate": "2018-02-09",
                  "navOne": 1013.53,
                  "navAll": 25363588.73
                },
                {
                  "dataDate": "2018-02-12",
                  "navOne": 1010.63,
                  "navAll": 25291081.22
                },
                {
                  "dataDate": "2018-02-13",
                  "navOne": 1008.33,
                  "navAll": 25233440.04
                },
                {
                  "dataDate": "2018-02-14",
                  "navOne": 1002.63,
                  "navAll": 25090896.3
                },
                {
                  "dataDate": "2018-02-15",
                  "navOne": 996.28,
                  "navAll": 24931800.86
                },
                {
                  "dataDate": "2018-02-16",
                  "navOne": 992.29,
                  "navAll": 24831973.47
                },
                {
                  "dataDate": "2018-02-20",
                  "navOne": 993.61,
                  "navAll": 24865079.39
                },
                {
                  "dataDate": "2018-02-21",
                  "navOne": 993.8,
                  "navAll": 24869904.73
                },
                {
                  "dataDate": "2018-02-22",
                  "navOne": 993.61,
                  "navAll": 24865057.95
                },
                {
                  "dataDate": "2018-02-26",
                  "navOne": 987.46,
                  "navAll": 24711244.77
                },
                {
                  "dataDate": "2018-02-27",
                  "navOne": 991.02,
                  "navAll": 24800153.88
                },
                {
                  "dataDate": "2018-02-28",
                  "navOne": 991.27,
                  "navAll": 24806493.71
                },
                {
                  "dataDate": "2018-03-01",
                  "navOne": 997.1,
                  "navAll": 24952342.19
                },
                {
                  "dataDate": "2018-03-02",
                  "navOne": 1001.12,
                  "navAll": 25052988.66
                },
                {
                  "dataDate": "2018-03-05",
                  "navOne": 997.87,
                  "navAll": 24971791.62
                },
                {
                  "dataDate": "2018-03-06",
                  "navOne": 993.31,
                  "navAll": 24857496.99
                },
                {
                  "dataDate": "2018-03-07",
                  "navOne": 996.68,
                  "navAll": 24941928.43
                },
                {
                  "dataDate": "2018-03-12",
                  "navOne": 998.19,
                  "navAll": 24979729.16
                },
                {
                  "dataDate": "2018-03-13",
                  "navOne": 997.28,
                  "navAll": 24956816.37
                },
                {
                  "dataDate": "2018-03-14",
                  "navOne": 1001.93,
                  "navAll": 25073351.18
                },
                {
                  "dataDate": "2018-03-15",
                  "navOne": 998.72,
                  "navAll": 24992929.12
                },
                {
                  "dataDate": "2018-03-16",
                  "navOne": 999.84,
                  "navAll": 25020968.15
                },
                {
                  "dataDate": "2018-03-19",
                  "navOne": 1003.48,
                  "navAll": 25112196.34
                },
                {
                  "dataDate": "2018-03-20",
                  "navOne": 999.26,
                  "navAll": 25006426.99
                },
                {
                  "dataDate": "2018-03-21",
                  "navOne": 997.52,
                  "navAll": 24962992.46
                },
                {
                  "dataDate": "2018-03-22",
                  "navOne": 996.99,
                  "navAll": 24949694.2
                },
                {
                  "dataDate": "2018-03-23",
                  "navOne": 995.03,
                  "navAll": 24900679.83
                },
                {
                  "dataDate": "2018-03-26",
                  "navOne": 997.7,
                  "navAll": 24967346.56
                },
                {
                  "dataDate": "2018-03-27",
                  "navOne": 997.35,
                  "navAll": 24948816.55
                },
                {
                  "dataDate": "2018-03-28",
                  "navOne": 999.14,
                  "navAll": 24993403.39
                },
                {
                  "dataDate": "2018-03-29",
                  "navOne": 997.83,
                  "navAll": 24960795.52
                },
                {
                  "dataDate": "2018-03-30",
                  "navOne": 996.8,
                  "navAll": 24935008.91
                },
                {
                  "dataDate": "2018-04-02",
                  "navOne": 998.56,
                  "navAll": 24979059.65
                },
                {
                  "dataDate": "2018-04-03",
                  "navOne": 998.69,
                  "navAll": 24982245.06
                },
                {
                  "dataDate": "2018-04-04",
                  "navOne": 998.19,
                  "navAll": 24969803.6
                },
                {
                  "dataDate": "2018-04-05",
                  "navOne": 1000.01,
                  "navAll": 25015237.66
                },
                {
                  "dataDate": "2018-04-06",
                  "navOne": 1002.83,
                  "navAll": 25085869.14
                },
                {
                  "dataDate": "2018-04-09",
                  "navOne": 1034.1,
                  "navAll": 25868003.53
                },
                {
                  "dataDate": "2018-04-10",
                  "navOne": 1066.33,
                  "navAll": 26674306.81
                },
                {
                  "dataDate": "2018-04-11",
                  "navOne": 1089.48,
                  "navAll": 27253389.18
                },
                {
                  "dataDate": "2018-04-12",
                  "navOne": 1072.47,
                  "navAll": 26827725.47
                },
                {
                  "dataDate": "2018-04-13",
                  "navOne": 1069.57,
                  "navAll": 26755388.26
                },
                {
                  "dataDate": "2018-04-16",
                  "navOne": 1070.22,
                  "navAll": 26771452.15
                },
                {
                  "dataDate": "2018-04-17",
                  "navOne": 1066.2,
                  "navAll": 26670888.57
                },
                {
                  "dataDate": "2018-04-18",
                  "navOne": 1061.98,
                  "navAll": 26565501.25
                },
                {
                  "dataDate": "2018-04-19",
                  "navOne": 1067.11,
                  "navAll": 26693705.39
                },
                {
                  "dataDate": "2018-04-20",
                  "navOne": 1052.99,
                  "navAll": 26340484.28
                },
                {
                  "dataDate": "2018-04-23",
                  "navOne": 1061.65,
                  "navAll": 26557215.2
                },
                {
                  "dataDate": "2018-04-24",
                  "navOne": 1069.54,
                  "navAll": 26754460.68
                }
              ]
            }
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [
          {
            "request": {
              "method": "GET",
              "uri": "/fund/959/nav?begDate=2001-01-01&endDate=2018-12-12",
              "headers": {
                "Accept": "application/json"
              }
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "RAW",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "Access-Control-Allow-Credentials": "true",
                "Access-Control-Allow-Headers": "Authorization",
                "Access-Control-Allow-Methods": "GET, OPTIONS",
                "Connection": "keep-alive",
                "Content-Encoding": "gzip",
                "Content-Type": "application/json",
                "Date": "Wed, 25 Apr 2018 13:50:49 GMT",
                "Server": "nginx/1.10.3 (Ubuntu)",
                "Transfer-Encoding": "chunked",
                "Vary": "Accept-Encoding"
              },
              "body": "[{\"dataDate\":\"2017-12-14\",\"navOne\":999.72,\"navAll\":25017909.91},{\"dataDate\":\"2017-12-15\",\"navOne\":999.43,\"navAll\":25010821.82},{\"dataDate\":\"2017-12-18\",\"navOne\":999.15,\"navAll\":25003735.73},{\"dataDate\":\"2017-12-19\",\"navOne\":998.87,\"navAll\":24996651.66},{\"dataDate\":\"2017-12-20\",\"navOne\":998.37,\"navAll\":24984188.77},{\"dataDate\":\"2017-12-21\",\"navOne\":998.33,\"navAll\":24983188.51},{\"dataDate\":\"2017-12-22\",\"navOne\":998.77,\"navAll\":24994155.14},{\"dataDate\":\"2017-12-25\",\"navOne\":999.66,\"navAll\":25016515.45},{\"dataDate\":\"2017-12-26\",\"navOne\":1000.33,\"navAll\":25033171.03},{\"dataDate\":\"2017-12-27\",\"navOne\":997.17,\"navAll\":24954172.23},{\"dataDate\":\"2017-12-28\",\"navOne\":996.65,\"navAll\":24941139.61},{\"dataDate\":\"2017-12-29\",\"navOne\":997.36,\"navAll\":24958846.25},{\"dataDate\":\"2018-01-09\",\"navOne\":999.44,\"navAll\":25010896.28},{\"dataDate\":\"2018-01-10\",\"navOne\":999.73,\"navAll\":25018296.08},{\"dataDate\":\"2018-01-11\",\"navOne\":998.01,\"navAll\":24975308.05},{\"dataDate\":\"2018-01-12\",\"navOne\":997.2,\"navAll\":24954999.54},{\"dataDate\":\"2018-01-15\",\"navOne\":996.48,\"navAll\":24937027.98},{\"dataDate\":\"2018-01-16\",\"navOne\":995.12,\"navAll\":24902880.49},{\"dataDate\":\"2018-01-17\",\"navOne\":995.25,\"navAll\":24906112.08},{\"dataDate\":\"2018-01-18\",\"navOne\":995.36,\"navAll\":24908922.86},{\"dataDate\":\"2018-01-19\",\"navOne\":994.76,\"navAll\":24893887.92},{\"dataDate\":\"2018-01-22\",\"navOne\":995.02,\"navAll\":24900395.99},{\"dataDate\":\"2018-01-23\",\"navOne\":994.74,\"navAll\":24893341.2},{\"dataDate\":\"2018-01-24\",\"navOne\":994.27,\"navAll\":24881669.71},{\"dataDate\":\"2018-01-25\",\"navOne\":994.52,\"navAll\":24887886.47},{\"dataDate\":\"2018-01-26\",\"navOne\":997.7,\"navAll\":24967352.2},{\"dataDate\":\"2018-01-29\",\"navOne\":999.6,\"navAll\":25014937.95},{\"dataDate\":\"2018-01-30\",\"navOne\":999.34,\"navAll\":25008525.51},{\"dataDate\":\"2018-01-31\",\"navOne\":998.43,\"navAll\":24985669.55},{\"dataDate\":\"2018-02-01\",\"navOne\":997.18,\"navAll\":24954552.41},{\"dataDate\":\"2018-02-02\",\"navOne\":1001.23,\"navAll\":25055826.57},{\"dataDate\":\"2018-02-05\",\"navOne\":1003.65,\"navAll\":25116358.58},{\"dataDate\":\"2018-02-06\",\"navOne\":1007.16,\"navAll\":25204060.72},{\"dataDate\":\"2018-02-07\",\"navOne\":1006.88,\"navAll\":25197159.83},{\"dataDate\":\"2018-02-08\",\"navOne\":1013.02,\"navAll\":25350873.04},{\"dataDate\":\"2018-02-09\",\"navOne\":1013.53,\"navAll\":25363588.73},{\"dataDate\":\"2018-02-12\",\"navOne\":1010.63,\"navAll\":25291081.22},{\"dataDate\":\"2018-02-13\",\"navOne\":1008.33,\"navAll\":25233440.04},{\"dataDate\":\"2018-02-14\",\"navOne\":1002.63,\"navAll\":25090896.3},{\"dataDate\":\"2018-02-15\",\"navOne\":996.28,\"navAll\":24931800.86},{\"dataDate\":\"2018-02-16\",\"navOne\":992.29,\"navAll\":24831973.47},{\"dataDate\":\"2018-02-20\",\"navOne\":993.61,\"navAll\":24865079.39},{\"dataDate\":\"2018-02-21\",\"navOne\":993.8,\"navAll\":24869904.73},{\"dataDate\":\"2018-02-22\",\"navOne\":993.61,\"navAll\":24865057.95},{\"dataDate\":\"2018-02-26\",\"navOne\":987.46,\"navAll\":24711244.77},{\"dataDate\":\"2018-02-27\",\"navOne\":991.02,\"navAll\":24800153.88},{\"dataDate\":\"2018-02-28\",\"navOne\":991.27,\"navAll\":24806493.71},{\"dataDate\":\"2018-03-01\",\"navOne\":997.1,\"navAll\":24952342.19},{\"dataDate\":\"2018-03-02\",\"navOne\":1001.12,\"navAll\":25052988.66},{\"dataDate\":\"2018-03-05\",\"navOne\":997.87,\"navAll\":24971791.62},{\"dataDate\":\"2018-03-06\",\"navOne\":993.31,\"navAll\":24857496.99},{\"dataDate\":\"2018-03-07\",\"navOne\":996.68,\"navAll\":24941928.43},{\"dataDate\":\"2018-03-12\",\"navOne\":998.19,\"navAll\":24979729.16},{\"dataDate\":\"2018-03-13\",\"navOne\":997.28,\"navAll\":24956816.37},{\"dataDate\":\"2018-03-14\",\"navOne\":1001.93,\"navAll\":25073351.18},{\"dataDate\":\"2018-03-15\",\"navOne\":998.72,\"navAll\":24992929.12},{\"dataDate\":\"2018-03-16\",\"navOne\":999.84,\"navAll\":25020968.15},{\"dataDate\":\"2018-03-19\",\"navOne\":1003.48,\"navAll\":25112196.34},{\"dataDate\":\"2018-03-20\",\"navOne\":999.26,\"navAll\":25006426.99},{\"dataDate\":\"2018-03-21\",\"navOne\":997.52,\"navAll\":24962992.46},{\"dataDate\":\"2018-03-22\",\"navOne\":996.99,\"navAll\":24949694.2},{\"dataDate\":\"2018-03-23\",\"navOne\":995.03,\"navAll\":24900679.83},{\"dataDate\":\"2018-03-26\",\"navOne\":997.7,\"navAll\":24967346.56},{\"dataDate\":\"2018-03-27\",\"navOne\":997.35,\"navAll\":24948816.55},{\"dataDate\":\"2018-03-28\",\"navOne\":999.14,\"navAll\":24993403.39},{\"dataDate\":\"2018-03-29\",\"navOne\":997.83,\"navAll\":24960795.52},{\"dataDate\":\"2018-03-30\",\"navOne\":996.8,\"navAll\":24935008.91},{\"dataDate\":\"2018-04-02\",\"navOne\":998.56,\"navAll\":24979059.65},{\"dataDate\":\"2018-04-03\",\"navOne\":998.69,\"navAll\":24982245.06},{\"dataDate\":\"2018-04-04\",\"navOne\":998.19,\"navAll\":24969803.6},{\"dataDate\":\"2018-04-05\",\"navOne\":1000.01,\"navAll\":25015237.66},{\"dataDate\":\"2018-04-06\",\"navOne\":1002.83,\"navAll\":25085869.14},{\"dataDate\":\"2018-04-09\",\"navOne\":1034.1,\"navAll\":25868003.53},{\"dataDate\":\"2018-04-10\",\"navOne\":1066.33,\"navAll\":26674306.81},{\"dataDate\":\"2018-04-11\",\"navOne\":1089.48,\"navAll\":27253389.18},{\"dataDate\":\"2018-04-12\",\"navOne\":1072.47,\"navAll\":26827725.47},{\"dataDate\":\"2018-04-13\",\"navOne\":1069.57,\"navAll\":26755388.26},{\"dataDate\":\"2018-04-16\",\"navOne\":1070.22,\"navAll\":26771452.15},{\"dataDate\":\"2018-04-17\",\"navOne\":1066.2,\"navAll\":26670888.57},{\"dataDate\":\"2018-04-18\",\"navOne\":1061.98,\"navAll\":26565501.25},{\"dataDate\":\"2018-04-19\",\"navOne\":1067.11,\"navAll\":26693705.39},{\"dataDate\":\"2018-04-20\",\"navOne\":1052.99,\"navAll\":26340484.28},{\"dataDate\":\"2018-04-23\",\"navOne\":1061.65,\"navAll\":26557215.2},{\"dataDate\":\"2018-04-24\",\"navOne\":1069.54,\"navAll\":26754460.68}]"
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "api/External/fund/:fundId/nav",
            "x-testDescription": "### >;CG5=85 ?>:070B5;59 $\n5B>4 2>72@0I05B ?>:070B5;8 !' $ 70 C:070==K9 ?5@8>4.\n\n### =D>@<0F8>==K5 ?>;O >B25B0\n| 0@0<5B@ | "8? | ?8A0=85 |\n| --------- | ----------- | -----------|\n| `dataDate` | `date` | 0B0 ?>:070B5;O. |\n| `navOne` | `int` | !B>8<>ABL >4=>3> ?0O. |\n| `navAll` | `int` | 07<5@ !'. |"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/companies": {
      "get": {
        "description": "### >;CG5=85 @55AB@0 >@30=870F89\n5B>4 2>72@0I05B >B25B, A>45@60I89 XML 4>:C<5=B 8;8 JSON >1J5:B 2 :>B>@>< ?5@5405BAO @55AB@ >@30=870F89.\n\n\n#### =D>@<0F8>==K5 ?>;O >B25B0\n| 0@0<5B@ | B8? |?8A0=85|\n| --------- | ----------- | -----------|\n| prtId | `int` | >4 >@30=870F88|\n| updateDate | `date`  | 0B0 >1=>2;5=8O >@30=870F88|\n| name | `string`  | >;=>5 =08<5=>20=85 >@30=870F88|\n| shortName | `string`  |@0B:>5 =08<5=>20=85 >@30=870F88|\n| pageName | `string`  | 4@5A 4;O AB@0=8FK >@30=870F88|\n| logoURL | `string`  | !AK;:0 =0 ;>3>B8? >@30=870F88|",
        "summary": "api/External/companies",
        "tags": [
          "#?@02;ONI85 :><?0=88"
        ],
        "operationId": "CompaniesGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Company"
              }
            },
            "examples": {
              "application/json": [
                {
                  "prtId": 291,
                  "updateDate": "2018-04-04T18:35:01",
                  "name": "?C1;8G=>5 0:F8>=5@=>5 >1I5AB2> \"#?@02;ONI0O :><?0=8O \"@A035@0\"",
                  "shortName": " \"# \"@A035@0\"",
                  "pageName": "arsagera",
                  "logoURL": "site/org_291_logo.jpg"
                },
                {
                  "prtId": 169,
                  "updateDate": "2018-04-04T18:35:48",
                  "name": "1I5AB2> A >3@0=8G5==>9 >B25BAB25==>ABLN \"#?@02;ONI0O :><?0=8O \"=25AB 5=546<5=B &5=B@\"",
                  "shortName": " \"# \"=25AB 5=546<5=B &5=B@\"",
                  "pageName": "invmc",
                  "logoURL": "site/org_169_logo.jpg"
                },
                {
                  "prtId": 484,
                  "updateDate": "2018-04-04T18:36:02",
                  "name": ":F8>=5@=>5 >1I5AB2> \"#?@02;ONI0O :><?0=8O \"" !$ #\"",
                  "shortName": " \"# "$\"",
                  "pageName": "tfg",
                  "logoURL": "site/org_484_logo.jpg"
                },
                {
                  "prtId": 170,
                  "updateDate": "2018-04-11T13:29:41",
                  "name": "1I5AB2> A >3@0=8G5==>9 >B25BAB25==>ABLN #?@02;ONI0O :><?0=8O \"@8:0?8B0;\"",
                  "shortName": " # \"@8:0?8B0;\"",
                  "pageName": "aricapital",
                  "logoURL": "site/org_170_logo.jpg"
                }
              ]
            }
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [
          {
            "request": {
              "method": "GET",
              "uri": "/companies",
              "headers": {
                "Accept": "application/json"
              }
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "RAW",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {
                "Access-Control-Allow-Credentials": "true",
                "Access-Control-Allow-Headers": "Authorization",
                "Access-Control-Allow-Methods": "GET, OPTIONS",
                "Connection": "keep-alive",
                "Content-Encoding": "gzip",
                "Content-Type": "application/json",
                "Date": "Tue, 24 Apr 2018 08:46:09 GMT",
                "Server": "nginx/1.10.3 (Ubuntu)",
                "Transfer-Encoding": "chunked",
                "Vary": "Accept-Encoding"
              },
              "body": "[{\"prtId\":291,\"updateDate\":\"2018-04-04T18:35:01\",\"name\":\"?C1;8G=>5 0:F8>=5@=>5 >1I5AB2> \\\"#?@02;ONI0O :><?0=8O \\\"@A035@0\\\"\",\"shortName\":\" \\\"# \\\"@A035@0\\\"\",\"pageName\":\"arsagera\",\"logoURL\":\"site/org_291_logo.jpg\"},{\"prtId\":169,\"updateDate\":\"2018-04-04T18:35:48\",\"name\":\"1I5AB2> A >3@0=8G5==>9 >B25BAB25==>ABLN \\\"#?@02;ONI0O :><?0=8O \\\"=25AB 5=546<5=B &5=B@\\\"\",\"shortName\":\" \\\"# \\\"=25AB 5=546<5=B &5=B@\\\"\",\"pageName\":\"invmc\",\"logoURL\":\"site/org_169_logo.jpg\"},{\"prtId\":484,\"updateDate\":\"2018-04-04T18:36:02\",\"name\":\":F8>=5@=>5 >1I5AB2> \\\"#?@02;ONI0O :><?0=8O \\\"" !$ #\\\"\",\"shortName\":\" \\\"# "$\\\"\",\"pageName\":\"tfg\",\"logoURL\":\"site/org_484_logo.jpg\"},{\"prtId\":170,\"updateDate\":\"2018-04-11T13:29:41\",\"name\":\"1I5AB2> A >3@0=8G5==>9 >B25BAB25==>ABLN #?@02;ONI0O :><?0=8O \\\"@8:0?8B0;\\\"\",\"shortName\":\" # \\\"@8:0?8B0;\\\"\",\"pageName\":\"aricapital\",\"logoURL\":\"site/org_170_logo.jpg\"}]"
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "api/External/companies",
            "x-testDescription": "### >;CG5=85 @55AB@0 >@30=870F89\n5B>4 2>72@0I05B >B25B, A>45@60I89 XML 4>:C<5=B 8;8 JSON >1J5:B 2 :>B>@>< ?5@5405BAO @55AB@ >@30=870F89.\n\n\n#### =D>@<0F8>==K5 ?>;O >B25B0\n| 0@0<5B@ | B8? |?8A0=85|\n| --------- | ----------- | -----------|\n| prtId | `int` | >4 >@30=870F88|\n| updateDate | `date`  | 0B0 >1=>2;5=8O >@30=870F88|\n| name | `string`  | >;=>5 =08<5=>20=85 >@30=870F88|\n| shortName | `string`  |@0B:>5 =08<5=>20=85 >@30=870F88|\n| pageName | `string`  | 4@5A 4;O AB@0=8FK >@30=870F88|\n| logoURL | `string`  | !AK;:0 =0 ;>3>B8? >@30=870F88|"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/company/{prtId}": {
      "get": {
        "description": "### >;CG5=85 40==KE >@30=870F88\n5B>4 2>72@0I05B >B25B, A>45@60I89 XML 4>:C<5=B 8;8 JSON >1J5:B 2 :>B>@>< ?5@540NBAO 40==K5 >@30=870F88.\n\n\n#### =D>@<0F8>==K5 ?>;O >B25B0\n| 0@0<5B@ | B8? |?8A0=85|\n| --------- | ----------- | -----------|\n| company | `int` | >4 >@30=870F88| \n| prtId | `date`  | 0B0 >1=>2;5=8O >@30=870F88| \n| name | `string`  | >;=>5 =08<5=>20=85 >@30=870F88| \n| shortName | `string`  |@0B:>5 =08<5=>20=85 >@30=870F88| \n| inn | `int`  |  >@30=870F88| \n| kpp | `int`  |  >@30=870F88| \n| ogrn | `int`  |   >@30=870F88| \n| addrReg | `string`  |4@5A <5AB>=0E>645=8O >@30=870F88| \n| addrPost | `string`  | >GB>2K9 04@5A >@30=870F88| \n| phone | `int`  | >=B0:B=K9 B5;5D>= >@30=870F88| \n| mainInformation | `string`  | 1O70B5;L=0O 8=D>@<0F8O 4;O A09B0 A D>@<0B8@>20=85< HTML| \n| addInformations | `array`  |  55AB@ 40==KE 4>?>;=8B5;L=>9 8=D>@<0F88| \n| products | `object`  |   55AB@ ?@>4C:B>2 >@30=870F88|\n| kpp | `int`  |  >@30=870F88| \n| logoURL | `string`  | !AK;:0 =0 ;>3>B8? >@30=870F88| \n\n\n\n#### =D>@<0F8>==K5 ?>;O >B25B0\n`company` ;>: 40==KE ?> >@30=870F88.\n\n`prtId` >4 >@30=870F88.\n\n`updateDate` `YYYY-MM-DDThh24:mi:ss`  0B0 >1=>2;5=8O >@30=870F88.\n\n`name` >;=>5 =08<5=>20=85.\n\n`shortName` @0B:>5 =08<5=>20=85.\n\n`inn`  .\n\n`kpp`  -  .\n\n`ogrn` -   .\n\n`addrReg` .\n\n`addrPost` .\n\n`phone`\n\n`mainInformation` 1O70B5;L=0O 8=D>@<0F8O 4;O A09B0 A D>@<0B8@>20=85< HTML\n\n`addInformations`  55AB@ 40==KE 4>?>;=8B5;L=>9 8=D>@<0F88\n\n`information`\n\n`header` 03>;>2>: 4>?>;=8B5;L=>9 8=D>@<0F88\n\n`content` !>45@60=85 4>?>;=8B5;L=>9 8=D>@<0F88 A D>@<0B8@>20=85< HTML\n\n`products`  55AB@ ?@>4C:B>2 >@30=870F88\n\n`funds`  55AB@ $ >@30=870F88. \n\n`fund` ;>: 40==KE ?> $.\n\n`id` >4 $.\n\n`updateDate` 0B0 >1=>2;5=8O $.\n\n`name` 08<5=>20=85 $.\n\n`type` "8? $.\n\n`pageName` 4@5A 4;O AB@0=8FK $\n\n`buyOnlineURL` 4@5A 4;O :=>?:8 «C?8BL».\n\n`dataDate` 0B0 0:BC0;L=>3> (?>A;54=53>) ?>:070B5;O.\n\n`navOne` !B>8<>ABL >4=>3> ?0O.\n\n`navAll`  07<5@ !'.\n\n`period` 5@8>4 2 <5AOF0E, 70 :>B>@K9 @0AAG8B0=0 4>E>4=>ABL.\n\n`incomeOne` >E>4=>ABL 70 ?5@8>4 ?> AB>8<>AB8 >4=>3> ?0O.\n\n`incomeAll` >E>4=>ABL 70 ?5@8>4 ?> @07<5@C !'.\n\n`minInvestSum` 8=8<0;L=0O AC<<0 4;O 8=25AB8F88.",
        "summary": "api/External/company/:prtId",
        "tags": [
          "#?@02;ONI85 :><?0=88"
        ],
        "operationId": "CompanyByPrtIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "prtId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [
          {
            "request": {
              "method": "GET",
              "uri": "/company/291",
              "headers": {
                "Accept": "application/json"
              }
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {}
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "api/External/company/:prtId",
            "x-testDescription": "### >;CG5=85 40==KE >@30=870F88\n5B>4 2>72@0I05B >B25B, A>45@60I89 XML 4>:C<5=B 8;8 JSON >1J5:B 2 :>B>@>< ?5@540NBAO 40==K5 >@30=870F88.\n\n\n#### =D>@<0F8>==K5 ?>;O >B25B0\n| 0@0<5B@ | B8? |?8A0=85|\n| --------- | ----------- | -----------|\n| company | `int` | >4 >@30=870F88| \n| prtId | `date`  | 0B0 >1=>2;5=8O >@30=870F88| \n| name | `string`  | >;=>5 =08<5=>20=85 >@30=870F88| \n| shortName | `string`  |@0B:>5 =08<5=>20=85 >@30=870F88| \n| inn | `int`  |  >@30=870F88| \n| kpp | `int`  |  >@30=870F88| \n| ogrn | `int`  |   >@30=870F88| \n| addrReg | `string`  |4@5A <5AB>=0E>645=8O >@30=870F88| \n| addrPost | `string`  | >GB>2K9 04@5A >@30=870F88| \n| phone | `int`  | >=B0:B=K9 B5;5D>= >@30=870F88| \n| mainInformation | `string`  | 1O70B5;L=0O 8=D>@<0F8O 4;O A09B0 A D>@<0B8@>20=85< HTML| \n| addInformations | `array`  |  55AB@ 40==KE 4>?>;=8B5;L=>9 8=D>@<0F88| \n| products | `object`  |   55AB@ ?@>4C:B>2 >@30=870F88|\n| kpp | `int`  |  >@30=870F88| \n| logoURL | `string`  | !AK;:0 =0 ;>3>B8? >@30=870F88| \n\n\n\n#### =D>@<0F8>==K5 ?>;O >B25B0\n`company` ;>: 40==KE ?> >@30=870F88.\n\n`prtId` >4 >@30=870F88.\n\n`updateDate` `YYYY-MM-DDThh24:mi:ss`  0B0 >1=>2;5=8O >@30=870F88.\n\n`name` >;=>5 =08<5=>20=85.\n\n`shortName` @0B:>5 =08<5=>20=85.\n\n`inn`  .\n\n`kpp`  -  .\n\n`ogrn` -   .\n\n`addrReg` .\n\n`addrPost` .\n\n`phone`\n\n`mainInformation` 1O70B5;L=0O 8=D>@<0F8O 4;O A09B0 A D>@<0B8@>20=85< HTML\n\n`addInformations`  55AB@ 40==KE 4>?>;=8B5;L=>9 8=D>@<0F88\n\n`information`\n\n`header` 03>;>2>: 4>?>;=8B5;L=>9 8=D>@<0F88\n\n`content` !>45@60=85 4>?>;=8B5;L=>9 8=D>@<0F88 A D>@<0B8@>20=85< HTML\n\n`products`  55AB@ ?@>4C:B>2 >@30=870F88\n\n`funds`  55AB@ $ >@30=870F88. \n\n`fund` ;>: 40==KE ?> $.\n\n`id` >4 $.\n\n`updateDate` 0B0 >1=>2;5=8O $.\n\n`name` 08<5=>20=85 $.\n\n`type` "8? $.\n\n`pageName` 4@5A 4;O AB@0=8FK $\n\n`buyOnlineURL` 4@5A 4;O :=>?:8 «C?8BL».\n\n`dataDate` 0B0 0:BC0;L=>3> (?>A;54=53>) ?>:070B5;O.\n\n`navOne` !B>8<>ABL >4=>3> ?0O.\n\n`navAll`  07<5@ !'.\n\n`period` 5@8>4 2 <5AOF0E, 70 :>B>@K9 @0AAG8B0=0 4>E>4=>ABL.\n\n`incomeOne` >E>4=>ABL 70 ?5@8>4 ?> AB>8<>AB8 >4=>3> ?0O.\n\n`incomeAll` >E>4=>ABL 70 ?5@8>4 ?> @07<5@C !'.\n\n`minInvestSum` 8=8<0;L=0O AC<<0 4;O 8=25AB8F88."
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/investors/create": {
      "post": {
        "description": "###  538AB@0F8O 8=25AB>@0\n\n5B>4 ?@54=07=0G5= 4;O A>740=8O 8=25AB>@0.\n\n#### =D>@<0F8>==K5 ?>;O >B25B0",
        "summary": "/api/External/investors/create",
        "tags": [
          "=25AB>@K"
        ],
        "operationId": "InvestorsCreatePost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/~1api~1external~1investors~1createrequest"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [
          {
            "request": {
              "method": "POST",
              "uri": "/investors/create",
              "headers": {
                "Content-Type": "application/json",
                "Accept": "application/json"
              },
              "body": "{\"ClientCurrencyId\":0,\"ClientCountryId\":0,\"UiLanguageId\":0,\"Name\":\"string\",\"Address\":\"string\",\"Email\":\"string\",\"CC\":\"string\",\"PhoneNumber\":\"string\",\"Vat\":\"string\"}"
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {}
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "/api/External/investors/create",
            "x-testDescription": "###  538AB@0F8O 8=25AB>@0\n\n5B>4 ?@54=07=0G5= 4;O A>740=8O 8=25AB>@0.\n\n#### =D>@<0F8>==K5 ?>;O >B25B0"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/investors/{prtld}": {
      "get": {
        "description": "### >;CG5=85 40==KE 8=25AB>@0\n5B>4 4;O ?>;CG5=8O 8=D>@<0F88 ?@>D8;O 8=25AB>@0.\n\n#### =D>@<0F8>==K5 ?>;O >B25B0",
        "summary": "/api/External/investors/{prtld}",
        "tags": [
          "=25AB>@K"
        ],
        "operationId": "InvestorsByPrtldGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "prtld",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      },
      "post": {
        "description": "5B>4 4;O >1=>2;5=8O 8=D>@<0F88 ?@>D8;O.",
        "summary": "/api/External/investors/{prtld}",
        "tags": [
          "=25AB>@K"
        ],
        "operationId": "InvestorsByPrtldPost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/~1api~1external~1investors~1{prtld}request"
            }
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "prtld",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/investors/{prtId}/accounts": {
      "get": {
        "description": "### >;CG5=85 @55AB@0 AG5B>2 8=25AB>@0\n5B>4 ?@54=07=0G5= 4;O ?>;CG5=8O @55AB@0 AG5B>2 8=25AB>@0. 5B>4 8A?>;L7C5BAO 4;O D>@<8@>20=8O A?8A:0 AG5B>2 ?@8 A>740=88 70?@>A>2 2K?8A>: (>1KG=KE 8 @0AH8@5==KE) 8 70O2>: =0 >1<5= 8 ?>30H5=85 ?052.\n\n\n\n#### =D>@<0F8>==K5 ?>;O >B25B0\n\n| 0@0<5B@ | "8? |?8A0=85|\n| --------- | ----------- | -----------|\n|`account` | `string` |><5@ ;8F52>3> AG5B0 8=25AB>@0.|\n|`orgName[like]`|`string`| 08<5=>20=85 >@30=870F88|\n|`fundName[like]`|`string`|08<5=>20=85 $.|\n|`sortBy`|`string`|>@O4>: A>@B8@>2:8 40==KE.  0745;8B5;L - 70?OB0O. >?CAB8<K5 ?>;O: `orgName`, `fundName`, `account`, `fundId` @8<5@ 70?8A8: `orgName.asc,fundName.desc`|\n|`page`|`int`|><5@ AB@0=8FK A 40==K<8. =0G5=85 ?> C<>;G0=8N  `1`|\n|`pageSize`|`int`|>;8G5AB2> 70?8A59 =0 AB@0=8F5. =0G5=85 ?> C<>;G0=8N  `10`|\n|`extFileds`|`string`|!?8A>: 4>?>;=8B5;L=KE ?>;59, 2:;NG05<KE 2 >B25B ?> 70?@>AC.  :0G5AB25 @0745;8B5;O 8A?>;L7C5BAO 70?OB0O. >ABC?=K5 7=0G5=8O: `orgName`  =08<5=>20=85 #, `fundName`  =08<5=>20=85 $, `quantity`  :>;8G5AB2> ?052 =0 AG5B5.`|",
        "summary": "/api/External/investors/:prtId/accounts",
        "tags": [
          "=25AB>@K"
        ],
        "operationId": "InvestorsAccountsByPrtIdGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "prtId",
            "in": "path",
            "required": true,
            "type": "string",
            "description": "45=B8D8:0B>@ 8=25AB>@0"
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [
          {
            "request": {
              "method": "GET",
              "uri": "/investors/1001/accounts",
              "headers": {
                "Accept": "application/json"
              }
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {}
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "/api/External/investors/:prtId/accounts",
            "x-testDescription": "### >;CG5=85 @55AB@0 AG5B>2 8=25AB>@0\n5B>4 ?@54=07=0G5= 4;O ?>;CG5=8O @55AB@0 AG5B>2 8=25AB>@0. 5B>4 8A?>;L7C5BAO 4;O D>@<8@>20=8O A?8A:0 AG5B>2 ?@8 A>740=88 70?@>A>2 2K?8A>: (>1KG=KE 8 @0AH8@5==KE) 8 70O2>: =0 >1<5= 8 ?>30H5=85 ?052.\n\n\n\n#### =D>@<0F8>==K5 ?>;O >B25B0\n\n| 0@0<5B@ | "8? |?8A0=85|\n| --------- | ----------- | -----------|\n|`account` | `string` |><5@ ;8F52>3> AG5B0 8=25AB>@0.|\n|`orgName[like]`|`string`| 08<5=>20=85 >@30=870F88|\n|`fundName[like]`|`string`|08<5=>20=85 $.|\n|`sortBy`|`string`|>@O4>: A>@B8@>2:8 40==KE.  0745;8B5;L - 70?OB0O. >?CAB8<K5 ?>;O: `orgName`, `fundName`, `account`, `fundId` @8<5@ 70?8A8: `orgName.asc,fundName.desc`|\n|`page`|`int`|><5@ AB@0=8FK A 40==K<8. =0G5=85 ?> C<>;G0=8N  `1`|\n|`pageSize`|`int`|>;8G5AB2> 70?8A59 =0 AB@0=8F5. =0G5=85 ?> C<>;G0=8N  `10`|\n|`extFileds`|`string`|!?8A>: 4>?>;=8B5;L=KE ?>;59, 2:;NG05<KE 2 >B25B ?> 70?@>AC.  :0G5AB25 @0745;8B5;O 8A?>;L7C5BAO 70?OB0O. >ABC?=K5 7=0G5=8O: `orgName`  =08<5=>20=85 #, `fundName`  =08<5=>20=85 $, `quantity`  :>;8G5AB2> ?052 =0 AG5B5.`|"
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/investors/1228/documents": {
      "get": {
        "description": "5B>4 4;O ?>;CG5=8O @55AB@0 4>:C<5=B>2 8=25AB>@0. 5B>4 8A?>;L7C5B ?>AB@0=8G=CN @07182:C @57C;LB0B0 2 >B25B5.",
        "summary": "/api/External/investors/{prtId}/documents",
        "tags": [
          "=25AB>@K"
        ],
        "operationId": "Investors1228DocumentsGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "dir",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "begDate",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "endDate",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "fundId",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "orgName[like]",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "fundName[like\n]",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "num[like]",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "page",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "extFields",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [
          {
            "request": {
              "method": "GET",
              "uri": "/investors/1228/documents?status=&dir=&type=&begDate=&endDate=&fundId=&orgName[like]=&fundName[like\n]=&num[like]=&sortBy=&page=&pageSize=&extFields=",
              "headers": {
                "Accept": "application/json"
              }
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {}
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "/api/External/investors/{prtId}/documents",
            "x-testDescription": "5B>4 4;O ?>;CG5=8O @55AB@0 4>:C<5=B>2 8=25AB>@0. 5B>4 8A?>;L7C5B ?>AB@0=8G=CN @07182:C @57C;LB0B0 2 >B25B5."
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/oauth/token": {
      "post": {
        "description": "5B>4 ?@54=07=0G5= 4;O >1<5=0 2@5<5==>3> :>40 02B>@870F88,\r\n?>;CG5==>3> ?@8 02B>@870F88 ?>;L7>20B5;O, =0 B>:5= 4>ABC?0, 8A?>;L7C5<K9 4;O\r\n@01>BK ?@8;>65=8O 8 B>:5= >1=>2;5=8O, 8A?>;L7C5<K9 4;O >1=>2;5=8O B>:5=0\r\n4>ABC?0 2 A;CG05 8AB5G5=8O 53> A@>:0 459AB28O.",
        "summary": "token",
        "tags": [
          "=25AB>@K"
        ],
        "operationId": "OauthTokenPost",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "client_id",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "grant_type",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "code",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "redirect_uri",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "client_secret",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Accept",
            "in": "header",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "security": [
          {
            "auth": []
          }
        ],
        "x-unitTests": [
          {
            "request": {
              "method": "POST",
              "uri": "/oauth/token?client_id=mob&grant_type=authorization_code&code=&redirect_uri=&client_secret=",
              "headers": {
                "Accept": "application/json"
              }
            },
            "expectedResponse": {
              "x-allowExtraHeaders": true,
              "x-bodyMatchMode": "NONE",
              "x-arrayOrderedMatching": false,
              "x-arrayCheckCount": false,
              "x-matchResponseSchema": true,
              "headers": {}
            },
            "x-testShouldPass": true,
            "x-testEnabled": true,
            "x-testName": "token",
            "x-testDescription": "5B>4 ?@54=07=0G5= 4;O >1<5=0 2@5<5==>3> :>40 02B>@870F88,\r\n?>;CG5==>3> ?@8 02B>@870F88 ?>;L7>20B5;O, =0 B>:5= 4>ABC?0, 8A?>;L7C5<K9 4;O\r\n@01>BK ?@8;>65=8O 8 B>:5= >1=>2;5=8O, 8A?>;L7C5<K9 4;O >1=>2;5=8O B>:5=0\r\n4>ABC?0 2 A;CG05 8AB5G5=8O 53> A@>:0 459AB28O."
          }
        ],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/bidFund": {
      "get": {
        "description": "\t",
        "summary": "/api/External/bidFund",
        "tags": [
          "=25AB>@K"
        ],
        "operationId": "BidFundGet",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32",
[...]
